@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}
body{
	font-family: Lato;
}
a:active, a:focus, a:visited{
	outline: none !important;
	text-decoration: none;
}
.main-header{
	width: 100%;
	background: #302109;
	border-top: 5px solid #94c347;
	border-bottom: 4px solid #222222;
	background-image: url(../img/header-background.png);
	background-repeat: no-repeat;
	background-size: 100% 1px;
	background-position: 0px 140px;
}
.main-header-top{
	color:#fff;;
	font-size: 11px;
	margin: 8px 6.6% 130px 2%;
	height: 19px;
}
.main-header-contacts{
	float: left;
}
.main-phone i, .main-mail i{
	padding-right: 4px;
}
.main-mail{
	padding-left: 10px;
	margin-left: 5px;
	border-left: 1px solid #6f675b;
}
.order-now-button{
	float: right;
	color:  #222222;
	background: #fda31d;
	padding: 5px 13px;
	position: relative;
	top: -13px;
}
.header-navbar{
	padding: 0px;
	position: relative;
	text-transform: uppercase;
}
.header-navbar .navbar-nav:first-child{
	margin-right: 18%;
	text-align: right;
	padding-right: 1.5%;
}
.header-navbar .navbar-nav {
	width: 39%;
	padding: 0px;
}
.header-navbar .navbar-nav > li{
	float: none;
	display: inline-block;
	padding-bottom: 15px;
	border-bottom: 4px solid transparent;
}
.header-navbar .navbar-nav > li:hover{
	border-bottom: 4px solid #b7dc36;
}
.header-navbar .navbar-nav > li:hover a{
	color:#b7dc36;
	text-decoration: none;
}
.header-navbar-menu{
	margin-bottom: -5px;
	font-size: 0px;
}
.header-navbar-menu a{
	color:#a9a8a8;;
	display: inline-block;
	padding: 13px !important;
	font-size: 12px;
	border-right: 1px dashed #434241;
}
.header-navbar-menu li:last-child a{
	border-right: 0px;
}
.logo{
	position: absolute;
	top: 0px;
	margin-left: 50%;
	left: -144px;
	z-index: 1;
}
.logo a{
	display: inline-block;
}
.logo a img{
	width:100%;
}
.navbar-toggle{
	float: left !important;
	color:#ddd;
}
.navbar-toggle{
	background: #ccc;
	margin-left: 10px;
}
.navbar-toggle .icon-bar{
	background: #888;
}
.header-li-dropdown .btn{
	background: inherit;
	border: none;
}
.header-li-dropdown:hover .dropdown-menu{
	display: block;
}
.header-li-dropdown .dropdown-menu{
	margin: 14px 0px 0px;
	border-radius: 0px;
	background: transparent;
	padding: 0px;
}
.header-li-dropdown .dropdown .dropdown-menu li a{
	border:none;
	background: rgba(168,187,43,0.9); 
	color:#5f6217;
	font-weight: bold;
	padding: 9px 20px !important;
}
.header-li-dropdown .dropdown .dropdown-menu li a:hover{
	background: #FDA31D;
}
.header-li-dropdown .dropdown .dropdown-menu li{
	border-bottom: 2px solid #5f6217;
}
.header-li-dropdown .dropdown .dropdown-menu li:last-child{
	border-bottom: none;
}
#potato-carousel{
	margin-top: -2px;
}
#potato-carousel img{
	width: 100%;
}
#potato-carousel .carousel-caption{
	top:25%;
	right: 15%;
	left: 15%;
}
#potato-carousel .carousel-caption h3{
	font-size: 40px;
	margin: 5px;
}
#potato-carousel .carousel-caption h2{
	font-size: 50px;
	margin: 5px;
}
#potato-carousel .carousel-caption p{
	width: 50%;
	margin: auto;
}
.potato-carousel-link{
	background:  #94c347;
	display: inline-block;
	border-radius: 4px;
	color:white;
	font-weight: bold;
	font-size: 16px;
	margin-top:30px;
}
.potato-carousel-link:hover{
	color:inherit;
	text-decoration: none;
}
.potato-carousel-link span{
	padding: 0px 10px;
}
.link-arrow{
	display: inline-block;
	padding: 10px 13px;
	background: #789f3a;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.about-us-box{
	background: url(../img/Border.png) no-repeat;
	height:900px;
	background-size: 100%;
	padding: 83px 70px 105px 0px;
}
.about-us-box .col-xs-12{
	padding: 0px;
}
.about-us-box .col-xs-5{
	padding: 0px;
}
.about-us-title{
	color:#3a3a3b;
	margin: 40px 0px 55px 0px;	
}
.about-us-title span{
	border-bottom: 1px solid #94c347;
	padding-bottom: 15px;
	display: inline-block;
}
.about-us-description{
	font-size: 14px;
	color: #696969;
}
.about-us-vegetables div{
	display: flex;
	margin-top: 25px;
	float: left;
	align-items:center;
	height: 80px;
}
.about-us-vegetables div:nth-child(odd){
	width: 60%;
}
.about-us-vegetables div:nth-child(even){
	width: 40%;
}
.about-us-vegetables div span{
	font-size: 11px;
}
.about-us-vegetables div p{
	color: #94c347;
	font-weight: bold;
	font-size: 17px;
	margin-left: 20px;
	text-transform: uppercase;
}
@media all and (max-width: 1200px) {
	.header-navbar-menu a{
		padding: 8px !important;
		font-size: 11px;
	}	
	#potato-carousel .carousel-caption h3{
		font-size: 20px;
	}
	#potato-carousel .carousel-caption h2{
		font-size: 30px;
	}
	.potato-carousel-link{
		font-size: 12px;
		margin-top:20px;
	}
	#potato-carousel .carousel-caption p{
		font-size: 10px;
	}
	#potato-carousel .carousel-caption {
		top:20%;
	}
	.link-arrow{
		padding: 5px;
	}
	.about-us-box{
		
		height:750px;
	}
	.about-us-title {
	    color: #3a3a3b;
	    margin: 20px 0px 35px 0px;
	    font-size: 20px;
	}
	.about-us-description{
		font-size: 12px;
	}
	.about-us-vegetables img{
		width: 60px;
	}
	.about-us-vegetables div{
		height: 60px;
	}
	.about-us-vegetables div p{
		font-size: 12px;
		margin-left: 8px;
	}
	.about-us-vegetables div span {
	    font-size: 9px;
	}

}
@media all and (max-width: 996px) {
	.header-navbar-menu a{
		padding: 4px !important;
		font-size: 9px;
	}	
	.logo{
		left: -90px;
		width: 180px;
	}
	.main-header-top{
		margin: 8px 6.6% 60px 2%;
	}
	.main-header{
		background-position: 0px 75px;
	}
	.about-us-title {
	    color: #3a3a3b;
	    margin: 0px 0px 25px 0px;
	    font-size: 20px;
	}
	.about-us-description{
		font-size: 10px;
	}
	.about-us-vegetables img{
		width: 40px;
	}
	.about-us-vegetables div{
		height: 50px;
		margin-top:10px;
	}
	.about-us-vegetables div p{
		font-size: 10px;
		margin-left: 10px;
	}
	.about-us-vegetables div span {
	    font-size: 7px;
	}
}
@media all and (max-width: 768px) {
	#potato-carousel{
		display: none;
	}
	.main-header-top{
		margin: 0px;
	}
	.main-header-contacts{
		display: none;
	}
	.order-now-button{
		position: absolute;
	    top: 78px;
	    right: 0px;
	}
	.main-header{
		background-image: none;
	}
	.about-us-box{
		background: none;
		padding: 30px 15px 15px 15px;
	}
	.header-navbar .navbar-nav > li{
		float: left;
		display: block;
		padding-bottom: 15px;
		width: 100%;
		text-align: left;
	}
	.header-navbar .navbar-nav{
		margin-left: 0px;
	}
	.header-navbar .navbar-nav a{
		border-right:0px;
		width: 100%;
		padding: 1px 5px !important;
	}
	.header-navbar .navbar-nav li{
		padding-bottom: 5px;
		margin-bottom: 3px;
	}
	.header-li-dropdown .dropdown-menu{
		margin: 4px !important;
		position:relative;
	}
	.header-li-dropdown li{
		padding: 0px !important;
		margin: 0px !important;
	}
	.header-navbar .navbar-nav > li
	{
		border-bottom: 4px solid transparent !important;
	}
	#potato-carousel .carousel-caption h3{
		font-size: 14px;
	}
	#potato-carousel .carousel-caption h2{
		font-size: 16px;
	}
	.potato-carousel-link{
		font-size: 8px;
		margin-top:5px;
	}
	#potato-carousel .carousel-caption p{
		font-size: 7px;
	}
	#potato-carousel .carousel-caption {
		top:2%;
	}
	.link-arrow{
		padding: 3px;
	}
	.about-us-vegetables{
		width: 100%;
	}
	.about-us-vegetables div{
		width: 50%;
	}
	.about-us-title{
		margin-bottom: 10px;
	}
	.logo {
	    left: -40px;
	    width: 80px
	}

}