@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}
body{
	font-family: Lato;
}
a:active, a:focus, a:visited{
	outline: none !important;
	text-decoration: none;
}
.main-header{
	width: 100%;
	background: #302109;
	border-top: 5px solid #94c347;
	border-bottom: 4px solid #222222;
	background-image: url(../img/header-background.png);
	background-repeat: no-repeat;
	background-size: 100% 1px;
	background-position: 0px 140px;
}
.main-header-top{
	color:#fff;;
	font-size: 11px;
	margin: 8px 6.6% 130px 2%;
	height: 19px;
}
.main-header-contacts{
	float: left;
}
.main-phone i, .main-mail i{
	padding-right: 4px;
}
.main-mail{
	padding-left: 10px;
	margin-left: 5px;
	border-left: 1px solid #6f675b;
}
.order-now-button{
	float: right;
	color:  #222222;
	background: #fda31d;
	padding: 5px 13px;
	position: relative;
	top: -13px;
}
.header-navbar{
	padding: 0px;
	position: relative;
	text-transform: uppercase;
}
.header-navbar .navbar-nav:first-child{
	margin-right: 18%;
	text-align: right;
	padding-right: 1.5%;
}
.header-navbar .navbar-nav {
	width: 39%;
	padding: 0px;
}
.header-navbar .navbar-nav > li{
	float: none;
	display: inline-block;
	padding-bottom: 15px;
	border-bottom: 4px solid transparent;
}
.header-navbar .navbar-nav > li:hover{
	border-bottom: 4px solid #b7dc36;
}
.header-navbar .navbar-nav > li:hover a{
	color:#b7dc36;
	text-decoration: none;
}
.header-navbar-menu{
	margin-bottom: -5px;
}
.header-navbar-menu a{
	color:#a9a8a8;;
	display: inline-block;
	padding: 13px !important;
	font-size: 12px;
	border-right: 1px dashed #434241;
}
.header-navbar-menu li:last-child a{
	border-right: 0px;
}
.logo{
	position: absolute;
	top: 0px;
	margin-left: 50%;
	left: -144px;
}
.logo a{
	display: inline-block;
}
.logo a img{
	width:100%;
}
.navbar-toggle{
	float: left !important;
	color:#ddd;
}
.navbar-toggle{
	background: #ccc;
	margin-left: 10px;
}
.navbar-toggle .icon-bar{
	background: #888;
}
.header-li-dropdown .btn{
	background: inherit;
	border: none;
}
.header-li-dropdown:hover .dropdown-menu{
	display: block;
}
.header-li-dropdown .dropdown-menu{
	margin: 14px 0px 0px;
	border-radius: 0px;
	background: transparent;
	padding: 0px;
}
.header-li-dropdown .dropdown .dropdown-menu li a{
	border:none;
	background: rgba(168,187,43,0.9); 
	color:#5f6217;
	font-weight: bold;
	padding: 9px 20px !important;
}
.header-li-dropdown .dropdown .dropdown-menu li a:hover{
	background: #FDA31D;
}
.header-li-dropdown .dropdown .dropdown-menu li{
	border-bottom: 2px solid #5f6217;
}
.header-li-dropdown .dropdown .dropdown-menu li:last-child{
	border-bottom: none;
}
@media screen and (max-width: 1200px) {
	.header-navbar-menu a{
		padding: 8px !important;
		font-size: 11px;
	}	
}
@media screen and (max-width: 996px) {
	.header-navbar-menu a{
		padding: 4px !important;
		font-size: 9px;
	}	
	.logo{
		left: -90px;
		width: 180px;
	}
	.main-header-top{
		margin: 8px 6.6% 60px 2%;
	}
	.main-header{
		background-position: 0px 75px;
	}
}
@media screen and (max-width: 768px) {
	.header-navbar .navbar-nav > li{
		float: left;
		display: block;
		padding-bottom: 15px;
		width: 100%;
		text-align: left;
	}
	.header-navbar .navbar-nav{
		margin-left: 0px;
	}
	.header-navbar .navbar-nav a{
		border-right:0px;
		width: 100%;
		padding: 1px 5px !important;
	}
	.header-navbar .navbar-nav li{
		padding-bottom: 5px;
		margin-bottom: 3px;
	}
	.header-li-dropdown .dropdown-menu{
		margin: 4px !important;
		position:relative;
	}
	.header-li-dropdown li{
		padding: 0px !important;
		margin: 0px !important;
	}
	.header-navbar .navbar-nav > li
	{
		border-bottom: 4px solid transparent !important;
	}
}